@import 'normalize';
@import 'banner';

/*EXTENDER*/

%margenes {
	padding-left: 5em;
	padding-right: 5em;
}
body,html{
	background-color:red;
	height: 100%;
	margin: 0;
}
nav{
	position: absolute;
	z-index: 10;
	width: 100%;
	div {
		@extend %margenes;
	}
	.logo{
		float: left;
		img{
			max-width: 200px;
		}
	}
	.menu{
		float: right;
	}
	li{
		display: inline-block;
		padding-left: 1em;
		color: white;

	}
}